/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a; /* Fondo negro */
    color: #ffffff; /* Texto blanco */
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background-color: #FF3040; /* Rojo oscuro */
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
    color: black; /* Rojo brillante */
}

/* Contenido principal */
main {
    padding: 20px;
    text-align: center;
}

#notifications {
    max-width: 600px;
    margin: 0 auto;
    background-color: #333; /* Gris oscuro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.profile-header h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: white;
}

/* Notificaciones */
.notification-feed {
    margin-top: 20px;
}

.notification {
    background-color: #444; /* Gris más claro */
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    text-align: left;
}

.notification:hover {
    background-color: #FF3040; /* Rojo oscuro */
    color: #ffffff; /* Blanco */
}

.notification p {
    margin: 0;
    font-size: 1.1rem;
}

.notification .date {
    font-size: 0.9rem;
    color: #bbbbbb; /* Gris claro */
    margin-top: 5px;
    display: block;
    text-align: right;
}
