body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a; 
    color: #ffffff;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background-color: #FF3040; /* Rojo oscuro */
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: black; /* Rojo brillante */
}

  .profile-container {
    margin-left: 400px;
    margin-right: 400px;
    text-align: center;
    align-items: center;
  }
  
  h2 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .stats {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
  }
  
  .stat {
    background-color: #FF3040;
    padding: 8px 18px;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .post {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #FF3040;
  }
  
  .post-text {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .date {
    padding: 10px;
    font-size: 1.1rem;
    color: #ccc;
    margin: 5px 0;
  }
  
  .like-button {
    background-color: #FF3040;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s ease;
    font-size: 1.5rem;
  }

  img{
    border-radius: 3%;
  }
  
.comentaris-container {
  margin-top: 30px;
  background-color: #2c2c2c;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px #FF3040;
  color: white;
}

.comentaris-container h3 {
  color: #FF3040;
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.comentari {
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-align: left;
}

.comments-container textarea {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  resize: none;
  font-size: 1rem;
  margin-bottom: 10px;
  background-color: #2a2a2a;
  color: white;
}

.comentari {
  background-color: #2a2a2a;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  color: white;
  font-size: 1rem;
}